[Unit]
Description=App - My App
After=syslog.target
After=network.target

#Wants=postgresql.service
#After=postgresql.service

#Wants=mysql.service
#After=mysql.service

[Service]
RestartSec=2s
Type=simple
User=app
Group=app
WorkingDirectory=/var/lib/app/
ExecStart=/usr/local/bin/app
Restart=always
