# ---------------------
# ENVIRONMENT OVERRIDES
# ---------------------

# -----------------
# APP CONFIGURATION
# -----------------
# APP_PORT="8080"    # app port, this is the docker exposed port too
# APP_LOG_LEVEL="0"  # -4:Debug 0:Info (default) 4:Warn 8:Error
# APP_ROOT_PREFIX="" # set this if app requires example.com/<prefix>/
# APP_SECRET=""      # set this to persist sessions, server generated if empty

# ----------------
# DB CONFIGURATION
# ----------------
# APP_DB_CONNSTR="./data/db.db" # (sqlite by default)

# --------------------------------
# AUTH CREDENTIALS
# (set to enable an auth provider)
# --------------------------------
# APP_GOOGLE_CLIENT_ID=""
# APP_FACEBOOK_APP_ID=""
# APP_FACEBOOK_APP_SECRET=""

# ---------------------------------------------------------------
# POSTGRES CREDENTIALS
# these are required only for
# $ docker compose -f docker-compose.db.yml --profile postgres up
# otherwise, `APP_DB_CONNSTR` already has this information
# ---------------------------------------------------------------
# POSTGRES_PASSWORD="mypassword"
# POSTGRES_USER="postgres"
# POSTGRES_DB="postgres"

# ------------------------------------------------------
# STORAGE CONFIGURATION
# ------------------------------------------------------
# APP_STORAGE_TYPE="local"
# APP_STORAGE_ROOT="data/storage"          # used when Type="local"
# APP_STORAGE_BUCKET=""                    # used when Type="remote"
# APP_STORAGE_MAX_OBJECT_SIZE="100000000"  # 100MB
# APP_STORAGE_MAX_BUCKET_SIZE="1000000000" # 1GB

# -----------------------------------------------------
# S3 CREDENTIALS
# these are required when using APP_STORAGE_TYPE=remote
# -----------------------------------------------------
# AWS_REGION="auto"
# AWS_ENDPOINT_URL="https://<clientID>.r2.cloudflarestorage.com"
# AWS_ACCESS_KEY_ID=""
# AWS_SECRET_ACCESS_KEY=""
