body {
  @apply
  text-(--theme-color-fg)
  bg-(--theme-color-bg)
  flex
  flex-col
  min-h-screen
}

body > * {
  @apply
  px-6
  py-4
}

body > header > *, body > footer > * {
  @apply
  content-center
}

body > main {
  @apply
  grow
  w-full
  max-w-4xl
  mx-auto
}

body > footer {
  @apply
  text-(--theme-color-fg-secondary)
  flex
  flex-wrap
  gap-6
  justify-center
  text-sm
  py-10
  mt-4
}
