pre, code:not(pre code) {
  @apply
  font-mono
  border
  rounded-md
  px-1.5
  bg-(--theme-color-bg-contrast)
  border-(--theme-color-separator)
}

pre {
  @apply
  py-2
  px-2.5
  overflow-x-scroll
  text-sm
}
