/*
input:not([type="checkbox"], [type="radio"]), button, select {
  &:disabled {
    @apply
    opacity-50
    pointer-events-none
  }

  &.disabled {
    @apply
    opacity-50
    pointer-events-none
  }

  &:focus {
    @apply
    outline-2
    outline-(--c-pri)/30
  }

  @apply
  bg-(--c-bg-sec)
  my-2
  py-2.5
  px-4
  text-lg
  border
  border-(--c-sep)
  rounded-lg
}

label:has(input:disabled) {
  @apply
  opacity-50
}

input[type="color"] {
  @apply
  p-1.5
}

button {
  &:hover {
    @apply
    brightness-110
  }

  @apply
  bg-(--c-b)
  border-(--c-b)
}

input:is([type="checkbox"], [type="radio"]) {
  @apply
  scale-200
  m-4
  accent-(--c-b)
  focus:ring-1
  focus:ring-(--c-pri)/30
}
*/
