input:not([type="checkbox"], [type="radio"]), button, select {
  &:disabled, &.disabled {
    @apply grayscale opacity-50 pointer-events-none
  }
  &:focus {
    @apply outline-2 outline-(--fg-pri)/30
  }
  @apply
  w-full
  bg-(--bg-inp)
  m-2
  py-2.5
  px-3
  text-lg
  border
  border-(--fg-sep)
  rounded-md
}

label:has(input:disabled) {
  @apply
  opacity-50
}

input[type="color"] {
  @apply
  p-1.5
}

button {
  &:hover {
    @apply
    brightness-110
  }

  @apply
  bg-(--fg-pri)
  border-(--fg-pri)
  text-white
}

input:is([type="checkbox"], [type="radio"]) {
  background-color: var(--bg-inp);
  @apply
  scale-200
  m-4
  accent-(--fg-pri)
  focus:ring-1
  focus:ring-(--fg-pri)/30
}
