table {
  @apply w-full
}

thead, tfoot, tr {
  @apply
  border-(--fg-sep)
}

thead {
  @apply
  border-b-3
}

tfoot {
  @apply
  border-t-3
}

th {
  @apply sticky top-0 bg-(--bg)
}

th, td {
  @apply
  py-1 px-4
}

tr {
  @apply
  border-t
}
