@import "tailwindcss";

@import "./theme.css";
@import "./icons.css";

@import "./nav.css";

@import "./body.css";
@import "./text.css";

@import "./forms.css";

* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-color-fg-secondary) transparent;
}
