@import "tailwindcss";

@import "./theme.css";

* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-color-fg-secondary) transparent;
}

body {
  @apply
  text-(--theme-color-fg)
  bg-(--theme-color-bg)
  flex
  flex-col
  min-h-screen
}

body > * {
  @apply
  px-6
  py-4
}

body > header > *, body > footer > * {
  @apply
  content-center
}

body > main {
  @apply
  grow
  w-full
  max-w-4xl
  mx-auto
}

body > footer {
  @apply
  text-(--theme-color-fg-secondary)
  flex
  flex-wrap
  gap-6
  justify-center
  text-sm
}

nav {
  @apply
  max-w-6xl
  mx-auto
  flex
  flex-wrap
  justify-between
  gap-x-16
}

nav > * {
  @apply
  py-2
}

nav ul {
  @apply
  overflow-x-scroll
  flex
  gap-6
}

nav ul li a {
  @apply
  py-0.5
  border-b-2
  border-transparent
}

nav ul li a.active {
  @apply
  border-(--theme-color-fg-secondary)
}

nav ul li a:hover {
  @apply
  border-(--theme-color-fg)
}

h1 { @apply my-4 text-5xl }
h2 { @apply my-4 text-3xl }
h3 { @apply my-4 text-2xl }
h4 { @apply my-4 font-bold text-lg }
h5 { @apply my-4 font-bold }
h6 { @apply my-4 font-bold }

p {
  @apply
  my-3
  text-lg
}

svg[role="icon"] {
  @apply
  w-4
  h-4
}

a {
  @apply
  cursor-pointer
}

*:has(> svg[role="icon"]) {
  @apply
  inline-flex
  items-center
  gap-1.5
}

article > header {
  @apply
  text-(--theme-color-fg-secondary)
  flex
  flex-col
  mb-8
}

article > header > nav {
  @apply
  m-0
}

article > header > nav ul {
  @apply
  p-0
  gap-2
}

article > header > h1 {
  @apply
  text-(--theme-color-fg)
}

table {
  @apply
  w-full
}

thead tr {
  @apply
  border-(--theme-color-separator)
  border-b-3
}

tbody tr {
  @apply
  border-(--theme-color-separator)
  border-b
}

tfoot tr {
  @apply
  border-(--theme-color-separator)
  border-t-3
}

td {
  @apply
  py-0.5
  px-4
}

th {
  @apply
  py-3
  px-4
}

img {
  @apply
  w-full
  max-w-2xl
  mx-auto
  my-6
  shadow-lg
}
