@import "tailwindcss";

@import "./theme.css";

* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-color-fg-secondary) transparent;
}

body {
  color: var(--theme-color-fg);
  background-color: var(--theme-color-bg);

  @apply
  flex
  flex-col
  min-h-screen
}

body > * {
  @apply
  p-4
}

body > header > *, body > footer > * {
  @apply
  content-center
}

body > main {
  @apply
  grow
  w-full
  max-w-3xl
  mx-auto
}

body > footer {
  color: var(--theme-color-fg-secondary);
  @apply
  flex
  flex-wrap
  gap-6
  justify-center
  text-sm
}

nav {
  @apply
  max-w-5xl
  mx-auto
  flex
  flex-wrap
  justify-between
  gap-x-16
}

nav > * {
  @apply
  py-2
}

nav ul {
  @apply
  overflow-x-scroll
  flex
  gap-6
}

nav ul li a {
  @apply
  py-0.5
  border-b-2
  border-transparent
}

nav ul li a:hover {
  @apply
  border-black/50
  dark:border-white/50
}

nav ul li a.active {
  @apply
  font-bold
  border-black
  dark:border-white
}

h1 { @apply my-3 text-5xl }
h2 { @apply my-3 text-3xl }
h3 { @apply my-3 text-2xl }
h4 { @apply my-3 font-bold text-lg }
h5 { @apply my-3 font-bold }
h6 { @apply my-3 font-bold }

p {
  @apply
  my-3
}

li a {
  @apply
  inline-flex
  items-center
  gap-1.5
}

li a svg {
  @apply
  w-5
  h-5
}
