h1 { @apply my-4 font-bold text-4xl }
h2 { @apply my-4 font-bold text-2xl }
h3 { @apply my-4 font-bold text-xl }
h4 { @apply my-4 font-bold text-lg }
h5 { @apply my-4 font-bold }
h6 { @apply my-4 font-bold }

p {
  @apply
  my-3
}

a:not(nav a, code a) {
  @apply
  cursor-pointer
  text-(--theme-color-primary)
  hover:underline
}
