:root {
  --theme-color-primary: #1e97bc;
  --theme-color-separator: #606060;
  --theme-color-fg: #2e2d2d;
  --theme-color-fg-secondary: #606060;
  --theme-color-bg: #f9f7f6;
  --theme-color-bg-secondary: #f2f2f2;
  --theme-color-bg-contrast: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-primary: #1e97bc;
    --theme-color-separator: #4c4c4c;
    --theme-color-fg: #c4c4c5;
    --theme-color-fg-secondary: #8e8e8e;
    --theme-color-bg: #1d1e20;
    --theme-color-bg-secondary: #252628;
    --theme-color-bg-contrast: #101011;
  }
}
