:root {
  --fg-pri: #28a0ef;
  --fg: #000;
  --fg-h: #0f172b;
  --fg-sec: #364153;
  --fg-mut: #6a7282;
  --fg-sep: #e5e7eb;

  --bg: #fff;
  --bg-sec: #f3f4f6;
  --bg-sel: #e0efff;
  --bg-inp: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-pri: #339bea;
    --fg: #f3f4f6;
    --fg-h: #f1f5f9;
    --fg-sec: #99a1af;
    --fg-mut: #70757f;
    --fg-sep: #262626;

    --bg: #111111;
    --bg-sec: #171717;
    --bg-sel: #172229;
    --bg-inp: #0c0c0c;
  }
}
