:root {
  --theme-color-primary: #1e97bc;
  --theme-color-fg: #000;
  --theme-color-fg-secondary: #000;
  --theme-color-bg: #fff;
  --theme-color-bg-secondary: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-primary: #1e97bc;
    --theme-color-fg: #c4c4c5;
    --theme-color-fg-secondary: #8f8f91;
    --theme-color-bg: #1d1e20;
    --theme-color-bg-secondary: #252628;
  }
}
