package templates

templ Home(tr func(key string) string) {
	<section>
		<div class="container">
			<p>templates/home.templ:</p>
			<p>{ tr("hello_world") }</p>
			<p>{ tr("message") }</p>
		</div>
	</section>
}
