package templates

const (
	NoticeInfo int = iota + 1
	NoticeWarn
	NoticeError
)

templ Notice(id string, level int, header, message string) {
	<div id={ id }>
		<article
			if level == NoticeInfo {
				class="info"
			}
			if level == NoticeWarn {
				class="warn"
			}
			if level == NoticeError {
				class="error"
			}
		>
			<header>
				{ header }
			</header>
			{ message }
		</article>
	</div>
}
