package templates

import "app/config"

templ Protected(tr func(string) string) {
	<button
		class="outline"
		disabled
		data-indicator:_logout.busy
		data-attr:disabled="$_logout.busy"
		data-attr:aria-busy="$_logout.busy && 'true'"
		data-on:click={ "@get('" + config.Endpoints[config.LogoutPath] + "',{"+
      "openWhenHidden: true," +
    "})" }
	>{ tr("logout") }</button>
}
